<table>
	<caption>Grupy materiałów</caption>
	<thead>
		<tr>
			<th>
				Nazwa
			</th>
			<th>
				Grupa nadrzędna
			</th>
		</tr>
	</thead>
	<tbody>
		 {% for grupa in grupa_array %}
        <tr>
					<td>{{ grupa.nazwa }}</td>
					<td>{{ grupa.parent }}</td>
				</tr>
    {% endfor %}
	</tbody>
</table>