<table class="table">
	<caption>Lista jednostek miary</caption>
	<thead>
		<tr>
			<th>
				Nazwa
			</th>
			<th>
				Skrót
			</th>
		</tr>
	</thead>
	<tbody>
		 {% for jm in jm_array %}
        <tr>
					<td>{{ jm.nazwa }}</td>
					<td>{{ jm.skrot }}</td>
				</tr>
    {% endfor %}
	</tbody>
</table>