<table>
	<caption>Lista jednostek miary</caption>
	<thead>
		<tr>
			<th>
				Nazwa
			</th>
			<th>
				Skrót
			</th>
		</tr>
	</thead>
	<tbody>
		 {% for material in material_array %}
        <tr>
					<td>{{ material.name }}</td>
				</tr>
    {% endfor %}
	</tbody>
</table>