<table>
	<caption>Materiały</caption>
	<thead>
		<tr>
			<th>
				Nazwa
			</th>
			<th>
				Kod
			<th>
			<th>
				Grupa
			</th>
			<th>
				Jm
			</th>
		</tr>
	</thead>
	<tbody>
		 {% for material in material_array %}
        <tr>
					<td>{{ material.nazwa }}</td>
					<td>{{ material.kod }}</td>
					<td>{{ material.grupamaterialow }}</td>
					<td>{{ material.jednostkamiary }}</td>
				</tr>
    {% endfor %}
	</tbody>
</table>