<table>
	<caption>Lista grup i materiałów</caption>
	<thead>
		<tr>
			<th>
				Grupa
			</th>
			<th>
				Materiał
			<th>
			<th>
				j.m
			</th>
		</tr>
	</thead>
	<tbody>
		 {% for material in material_array %}
        <tr>
					<td>{{ material.name }}</td>
				</tr>
    {% endfor %}
	</tbody>
</table>