{% extends 'base.html.twig' %}

{% block jumbotron %}
	<h1>Strona główna</h1>
{% endblock %}

{% block navi %}
	<a href="{{path('material_homepage')}}" class="btn btn-default">Zarządzanie materiałami</a>
{% endblock %}
