{% extends 'base.html.twig' %}

{% block jumbotron %}
	<h1>Strona główna</h1>
{% endblock %}

{% block navi %}
	<li><a href="{{path('material_homepage')}}">Zarządzanie materiałami</a></li>
{% endblock %}
