{% extends 'PjplMaterialBundle::base.html.twig' %}

{% block jumbotron %}
	<h2>Zarządzanie jednostkami miary</h2>
	<a href="{{path('homepage')}}" class="btn btn-default"> Strona główna</a>
{% endblock %}