{% extends 'PjplMaterialBundle:JednostkaMiary:base.html.twig' %}

{% block navi %}
	{{ parent() }}
	<li><a href="{{path('material_jm_add')}}">Dodawanie materiału</a></li>
	<li><a href="{{path('material_jm_list')}}">Edycja </a></li>
{% endblock %}


{% block body %}
	{% include 'PjplMaterialBundle::jednostka-miary.html.twig' %}
{% endblock %}