{% extends 'PjplMaterialBundle:Material:base.html.twig' %}

{% block navi %}
	{{ parent() }}
	<li><a href="{{path('material_material_add')}}">Dodawanie materiału</a></li>
	<li><a href="{{path('material_material_list')}}">Edycja materiału</a></li>
{% endblock %}

{% block body %}
	{% include 'PjplMaterialBundle::material.html.twig' %}
{% endblock %}