{% extends 'PjplMaterialBundle:Material:base.html.twig' %}

{% block navi %}
	<h3>Edycja materiału</h3>
	<a href="{{path('material_material')}}" class="btn btn-default"> Zarządzanie materiałami</a>
{% endblock %}

{% block body %}

	<table class="table">
		<caption>Lista materiałów</caption>
		<thead>
			<tr>
				<th>
					Nazwa
				</th>
				<th>
					Kod
				</th>
				<th>
				</th>
			</tr>
		</thead>
		<tbody>
			 {% for material in material_array %}
					<tr>
						<td>{{ material.nazwa }}</td>
						<td>{{ material.kod }}</td>
						<td><a href="{{ path('material_material_edit', {'id' : material.id}) }}" class="btn btn-primary">Edytuj</a></td>
					</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}