{% extends 'PjplMaterialBundle::base.html.twig' %}

{% block jumbotron %}
	<h2>Zarządzanie grupami materiałów</h2>
{% endblock %}

{% block navi %}
	<li><a href="{{path('material_homepage')}}" class="navbar-brand"> Zarządzanie materiałami </a></li>
{% endblock %}