{% extends 'PjplMaterialBundle::base.html.twig' %}

{% block jumbotron %}
	<h2>Zarządzanie grupami materiałów</h2>
{% endblock %}

{% block navi %}
	<li><a href="{{path('material_homepage')}}"> Zarządzanie materiałami  <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a></li>
{% endblock %}