{% extends 'PjplMaterialBundle:Grupa:base.html.twig' %}

{% block navi %}
	{{ parent() }}
	<li><a href="{{path('material_grupa_add')}}">Dodawanie grupy materiałów</a></li>
	<li><a href="{{path('material_grupa_list')}}">Edycja grupy materiałów</a></li>
{% endblock %}

{% block body %}
	{% include 'PjplMaterialBundle::grupa.html.twig' %}
{% endblock %}